.container {
  padding: 3rem;
  margin-top: 2rem;
}

.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
}

.material-icons:hover {
  color: red;
}
